:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--purple300);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

nav .logo{
    font-size: 30px;
    font-weight: 800;
}

nav ul li{
    list-style: none;
}

nav ul{
    display: flex;
    gap: 20px;
}

.hero-section{
    background-image: url(images/hero_image.png);
    color: white;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section div{
    width: 50%;
}

.hero-section h1{
    font-size: 96px;
    text-align: center;
}

.hero-section h2{
    margin: 10px 0;
    text-align: center;
}

/* Music section */

.music{
    height: 100vh;
    background-color: var(--purple500);
}

.music .heading i{
    font-size: 3px;
    color: var(--body);
}

.music .heading{
    display: flex;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
}

.music .container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 35px;
}

.music .content{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.music .content button{
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
}

.music .content .p-1 {
    text-align: center;
    font-size: 22px;
}

/* section 3 */

.s-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-3 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

.s-3 .container h2{
    margin-top: 300px;
}

.s-3 .container p{
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin: 20px 0;
}

.s-3 .container button{
    width: 120px;
    height: 50px;
    background-color: var(--purple300);
    color: var(--body);
    border: none;
    font-size: 16px;
}

.s-3 .img{
    margin-bottom: 50px;
}

/* section 4 */
.s-4{
    height: 100vh;
    background-image: url(images/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--body);
}

.s-4, .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.s-4 .container{
    width: 70%;
    text-align: center;
}

/* section 5: Gift Card */
.s-5{
    width: 80vw;
    height: 70vh;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.s-5 .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.s-5 .content{
    width: 50%;
    
}

.s-5 .content > p{
    margin: 20px 0;
    text-align: justify;
}

.s-5 .content .p-2{
    margin: 20px 0;
}

.s-5 hr{
    margin: 30px 0;
}
.s-5 .content button{
    width: 100px;
    height: 50px;
    border: none;
    background-color: var(--purple300);
    color: var(--body);
    font-size: 18px;
}

footer{
    height: 35vh;
    background-color: var(--purple500);
    color: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer .container, .box1, .box2, .box3, .box4{
    width: 70%;
}

footer .container ul li{
    list-style: none;
    line-height: 25px;
}

footer .container hr{
    margin-top: 5px;
    margin-bottom: 20px;
}

.copy{
    background-color: var(--purple300);
    color: var(--body);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}