:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--purple300);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav ul li{
    list-style: none;
}

nav ul{
    display: flex;
    gap: 20px;
}

.hero-section{
    background-image: url(images/hero_image.png);
    color: white;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section div{
    width: 50%;
}

.hero-section h1{
    font-size: 96px;
    text-align: center;
}

.hero-section h2{
    margin: 10px 0;
    text-align: center;
}

/* Music section */

.music{
    height: 100vh;
    background-color: var(--purple500);
}

.music .heading img{
    width: 35px;
}

.music .heading{
    display: flex;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
}

.music .container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 35px;
}

.music .content{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.music .content button{
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
}

.music .content .p-1 {
    text-align: center;
    font-size: 22px;
}

/* section 3 */

.s-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-3 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

.s-3 .container h2{
    margin-top: 300px;
}

.s-3 .container p{
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin: 20px 0;
}

.s-3 .container button{
    width: 120px;
    height: 50px;
    background-color: var(--purple300);
    color: var(--body);
    border: none;
    font-size: 16px;
}

.s-3 .img{
    margin-bottom: 50px;
}